@import "tailwindcss";


/* font styles */

.extra-font-style {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* toggling dark and light mode */
@custom-variant dark (&:where(.dark, .dark *));

/* define color */
@theme {
  --color-primary-dark: #242629;
  --color-secoundary-dark: #ff8e3c;
  --color-terniary-dark: #fc5e03;
  --color-primary-black : #121314;
  --color-primary-text: #ededed;
}

.text-glow {
  text-shadow: 2px -2px 13px #2f2e04, 1px 2px 9px #3f3e2d, 0px 0px 10px #d4d29300;
}

.corner {
  position: absolute;
  width: 200px;
  height: 60px;
  border: 3px double  #3f7212;
}

.corner1 {
  position: absolute;
  width: 200px;
  height: 60px;
  border: 3px double  #754421;
}

.top-left {
  top: -12px;
  left: -8px;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 50px;
}

.bottom-right {
  bottom: -12px;
  right: -8px;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 50px;
}

/* decorate scroll bar */
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

/* adding box shadow */
/* yellow shadow */
.light-yellow-shadow{
  box-shadow: inset 0 0 9px #62563496 ,0 0 5px #62563496;
}

.light-violet-shadow{
  box-shadow: inset 0 0 9px #5e346296 ,0 0 5px #5e346296;
}

.light-orange-shadow{
  box-shadow: inset 0 0 9px #62503496 ,0 0 5px #62503496;
}

.light-sky-shadow{
  box-shadow: inset 0 0 9px #34516296 ,0 0 5px #34516296 ;
}

.light-cyan-shadow{
  box-shadow: inset 0 0 9px #34516296 ,0 0 5px #34516296 ;
}

.light-green-shadow{
  box-shadow: inset 0 0 9px #34623796 ,0 0 5px #34623796 ;
}

.light-red-shadow{
  box-shadow: inset 0 0 9px #62413496 ,0 0 5px #62413496 ;
}

.light-gray-shadow{
  box-shadow: inset 0 0 9px #766a6596 ,0 0 5px #766a6596 ;
}

